<div class="col-sm-8 text-left">
  <h3>Change Password</h3>
  <hr>

  <!-- success/error message for reset password function -->
  <div uib-alert ng-repeat="a in alert.alerts" ng-class="'alert-' + a.type" close="alert.closeAlert($index)">{{a.msg}}</div>

  <!-- CHANGE USER PASSWORD PANEL -->
  <div class="panel panel-primary">
    <div class="panel-body">
      <div>
        <form ng-submit='changePassword()'>
          <div>
            <label>Current Password</label>
            <br>
            <input ng-model='curr_pass' type='password' class='fields' required>
            <br>
            <br>
            <label>New Password</label>
            <br>
            <!-- TO DO: Validate password pattern in controller as well -->
            <input ng-model='new_pass' type='password' class='fields' pattern='{{password_pattern}}' title='{{pattern_descr}}' required>
            <br>
            <br>
            <label>Re-Enter New Password</label>
            <br>
            <input ng-model='conf_new_pass' type='password' class='fields' required>
            <br>
            <br>
            <button type="submit" class="btn btn-success"'>Change Password</button>
            <br>
          </form>
        </div>
      </div>
    </form>
  </div>
</div>
</div>
</div>


