<div class='col-sm-8 text-left' >
	<h3>Watch Orders Management</h3>
	<hr>

	<!-- success/error message -->
	<div uib-alert ng-repeat="a in alert.alerts" ng-class="'alert-' + a.type" close="alert.closeAlert($index)">{{a.msg}}</div>

	<button class="btn btn-success" data-toggle="modal" ng-click='addBatchWatchOrders()'><span class="glyphicon glyphicon-th-list"></span> Batch Add Watch Orders</button>
	<br>
	<br>

	<!-- Add Single Watch Order Panel -->
  <div class='panel panel-primary {{display_mode}}'>
    <div class='panel-heading'>Add Watch Order</div>
    <div class='panel-body'>

      <!-- Add Watch Order Form -->
      <form ng-submit='addSingleWatchOrder()'>

        <label>Description</label>
        <br>
        <input class='form-control fields {{display_mode}}' type='text' ng-model="order.desc" required>
        <br>
        <br>
        <label>Address</label>
        <br>
        <input class='form-control fields {{display_mode}}' type='text' ng-model="order.address" required>
        <br>
        <br>
        <button type='submit' class='btn btn-success'>Add Watch Order</button>
        <br>
        <!-- display message accordingly -->
        <div class='alert alert-danger' ng-show='errorMessage' style='margin-bottom: 0'>
          {{message}}
        </div>
        <div class='alert alert-success' ng-show='successMessage' style='margin-bottom: 0'>
          {{message}}
        </div>
      </form>
    </div>
  </div>

	<!-- Edit Watch Order Panel -->
	<div class='panel panel-primary' ng-init='getWatchOrders()'>
		<div class='panel-heading'>Edit Watch Orders</div>

		<!-- TO DO: Overflow not detected until page reloads -->
		<div class='panel-body {{display_mode}}' style="height:350px; overflow-y:scroll">
			<div>
				<table class="table table-striped {{display_mode}} table-hover" style='margin:auto; width:100%'>
					<form class="form-inline">
						<div class="form-group">
							<label>Search</label>
							<input type="text" ng-model="search" class="form-control fields {{display_mode}}" placeholder="Search">
						</div>
					</form>
					<thead>
						<tr>
							<th class="text-center">#</th>
							<th>Address</th>
							<th>Description</th>
							<th>Latitude</th>
							<th>Longitude</th>
							<th>Date</th>
							<th class="text-center">Edit</th>
						</tr>
					</thead>
					<tbody>
						<tr {{display_mode}} ng-repeat='o in watch_orders|filter:search'>
							<td class='text-center'>{{$index + 1}}</td>
							<td>{{o.Address}}</td>
							<td>{{o.Desc}}</td>
							<td>{{o.Lat}}</td>
							<td>{{o.Lng}}</td>
							<td>{{o.Date}}</td>
							<td class='text-center'><button class="btn-default" ng-click='editWatchOrder(o.Id, o.Desc, o.Address)'><span class="glyphicon glyphicon-edit"></span> Edit</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<!-- Edit Watch Order Modal -->
	<div class="modal fade" id="editModal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content {{display_mode_modal}}">
				<div class="modal-header" style="padding:15px 15px;">
					<button type="button" class="close" data-dismiss="modal" ng-click='updateErrorMessage = updateSuccessMessage = false'>&times;</button>
					<h4><span class="glyphicon glyphicon-pencil"></span> Edit Watch Order</h4>
				</div>
				<div class="modal-body" style="padding:40px 50px;">
					<button ng-click='removeWatchOrder()' class="btn btn-danger pull-right"><span class="glyphicon glyphicon-remove"></span> Delete Watch Order</button>
					<br>
					<br>
					<form role="form" ng-submit='updateWatchOrder()'>
						<div class="form-group">
							<label>Description</label>
							<input type="text" class="form-control fields {{display_mode_modal}}" ng-model='updateDesc' required>
						</div>
						<div class="form-group">
							<label>Address</label>
							<input type="text" class="form-control fields {{display_mode_modal}}" ng-model='updateAddress' required>
						</div>
						<br>
						<!-- TO DO: Don't show successful update message when no changes were made to the user -->
						<button type="submit" class="btn btn-success btn-block">Update</button>
						<br>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Batch Add Users Modal -->
	<div class="modal fade" id="batchWatchOrdersModal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content {{display_mode_modal}}">
				<div class="modal-header" style="padding:15px 15px;">
					<button type="button" class="close" data-dismiss="modal" ng-click='updateErrorMessage = updateSuccessMessage = false'>&times;</button>
					<h4> <span class="glyphicon glyphicon-th-list"></span> Batch Add Watch Orders</h4>
				</div>
				<div class="modal-body" style="padding:40px 50px;">


					<!-- TO DO: Overflow not detected until page reloads -->
					<input type="file" id="files" accept="text/csv" class = "center-block">
					<br>
					<button class="btn btn-success btn-block center-block" ng-click='parseCSV()'><span class="glyphicon glyphicon-refresh"></span> Parse</button>
					<br>


					<div class='panel panel-primary'id="parsedWatchOrdersPanel">
						<div class='panel-heading' id="parseTitle">Parsed Watch Orders</div>



						<label class = "label label-success lable-large" id="successMessage"></label>
						<label class = "label label-danger lable-large"  id="failMessage"></label>

						<!-- TO DO: Overflow not detected until page reloads -->
						<div class='panel-body {{display_mode}}' style="height:350px; overflow-y:scroll">


							<div>
								<table class="table table-striped {{display_mode}} table-hover" style='margin:auto; width:100%'>
									<form class="form-inline">
										<div class="form-group">
											<label>Search</label>
											<input type="text" ng-model="search" class="form-control fields {{display_mode}}" placeholder="Search">
										</div>
									</form>
									<thead>
										<tr>
											<th class="text-center">#</th>
											<th>Description</th>
											<th>Address</th>
											<th class="text-center">Edit</th>
										</tr>
									</thead>
									<tbody>
										<tr {{display_mode}} ng-repeat='u in parsedWatchOrders|filter:search'>
											<td class='text-center'>{{$index + 1}}</td>
											<td>{{u[0]}}</td>
											<td>{{u[1]}}</td>
											<td class='text-center'><button class="btn-default" ng-click='editParsedWatchOrder($index, u[0], u[1])'><span class="glyphicon glyphicon-edit"></span> Edit</button></td>
										</tr>
									</tbody>
								</table>
							</div>

						</div>

						<div class='panel-body {{display_mode}}' >
							<div class ='{{display_mode}}'>
								<button class="btn btn-success btn-block center-block " ng-click='addParsedWatchOrders()'><span class="glyphicon glyphicon-circle-arrow-right"></span> Add All</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Edit Parsed Watch order Modal -->
	<div class="modal fade" id="editParseModal" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content {{display_mode_modal}}">
				<div class="modal-header" style="padding:15px 15px;">
					<button type="button" class="close" data-dismiss="modal" ng-click='updateErrorMessage = updateSuccessMessage = false'>&times;</button>
					<h4><span class="glyphicon glyphicon-pencil"></span> Edit Parsed Watch Order</h4>
				</div>
				<div class="modal-body" style="padding:40px 50px;">
					<button ng-click='removeParsedWatchOrder()' class="btn btn-danger pull-right"><span class="glyphicon glyphicon-remove"></span> Delete Watch Order</button>
					<br>
					<br>
					<form role="form" ng-submit='updateParseUser()'>
						<div class="form-group">
							<label>Description</label>
							<input type="text" class="form-control fields {{display_mode_modal}}" ng-model='updateDesc' required>
						</div>
						<div class="form-group">
							<label>Address</label>
							<input type="text" class="form-control fields {{display_mode_modal}}" ng-model='updateAddress' required>
						</div>
						<br>
						<!-- TO DO: Don't show successful update message when no changes were made to the watch order -->
						<button type="submit" class="btn btn-success btn-block">Update</button>
						<br>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
