<div style="margin: auto; width: 85%" class = "{{display_mode}}" ng-init='initMap();' >
    <h3>Watch Orders: {{markerCount}}</h3>
    
  <hr class="style18">  
  <section class="design-process-section" id="process-tab">
    <div class="container">
      <div class="row">
        <div class="col-xs-12"> 
          <ul class="nav nav-tabs process-model more-icon-preocess" role="tablist">
            <li role="presentation" class="active">
              <a href="#" style="cursor:pointer;" aria-controls="discover" role="tab" data-toggle="tab">
                  <i class="fa fa-list" aria-hidden="true"></i><p>Categories </p>
              </a>
            </li>
            <li role="presentation">
                <i class="fa fa-camera" aria-hidden="false"></i>
                <p><b>Watch Orders</b></p>
            </li>
             <li role="presentation">
                <i class="fa fa-hand-o-down" aria-hidden="true"></i>
              <p><b>{{markerCount}}</b></p>
            </li>
          </ul>
          <!-- end design process steps--> 
          <!-- Tab panes -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div  >
  <div style="margin: auto; width: 90%;" class="container" >
  </div>

<div style="margin: auto; width: 90%;">
  <div class='panel panel-primary {{display_mode}}'>
		<div class='panel-heading'></div>
		<div class='panel-body' style="height:500px; overflow-y:scroll">
        <div style="width: 100%; height: 100%;">
        <div id="map"></div>
      </div>
    </div>
  </div>
</div>
</div>
