<div style="margin: auto; width: 85%" class = "{{display_mode}}" ng-init='initMap();' >
    <h3>Watch Orders</h3>

  <hr class="style18">
  <section class="design-process-section" id="process-tab">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul class="nav nav-tabs process-model more-icon-preocess" role="tablist">
            <li role="presentation" class="active">
              <a href="#" style="cursor:pointer;" aria-controls="discover" role="tab" data-toggle="tab">
                  <i class="fa fa-list" aria-hidden="true"></i><p>Categories </p>
              </a>
            </li>
            <li role="presentation">
                <i class="fa fa-camera" aria-hidden="false"></i>
                <p><b>Watch Orders</b></p>
            </li>
             <li role="presentation">
                <i class="fa fa-hand-o-down" aria-hidden="true"></i>
              <p><b>{{markerCount}}</b></p>
            </li>
          </ul>
          <!-- end design process steps-->
          <!-- Tab panes -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div style="margin: auto; width: 90%;">
  <div class='panel panel-primary {{display_mode}}'>
		<div class='panel-heading'></div>
		<div class='panel-body' style="height:500px; overflow-y:scroll">
        <div style="width: 100%; height: 100%;">
        <div id="map"></div>
      </div>
    </div>

    <!-- TO DO: Overflow not detected until page reloads -->
    <div class='panel-body {{display_mode}}' style="height:350px; overflow-y:scroll">
      <div>
        <table class="table table-striped {{display_mode}} table-hover" style='margin:auto; width:100%'>
          <form class="form-inline">
            <div class="form-group">
              <label>Search</label>
              <input type="text" ng-model="search" class="form-control fields {{display_mode}}" placeholder="Search">
            </div>
          </form>
          <thead>
            <tr>
              <th class="text-center">#</th>
              <th>Address</th>
              <th>Description</th>
              <th>Add Date</th>
              <th>Expiration Date</th>
            </tr>
          </thead>
          <tbody>
            <tr {{display_mode}} ng-repeat='o in watch_orders|filter:search'>
              <td class='text-center'>{{$index + 1}}</td>
              <td>{{o.Address}}</td>
              <td>{{o.Desc}}</td>
              <td>{{o.AddDate}}</td>
              <td>{{o.ExpDate}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
