/* ---------------------------------------------------------
   Author's styles
   ---------------------------------------------------------*/

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/
   @media print {
    * {
      color:#000 !important;
      box-shadow:none !important;
      text-shadow:none !important;
      background:transparent !important;
    }
    html { background-color:#fff; }
    /* Hide navigation */
    nav { display:none; }

    /* Show link destinations in brackets after the link text */
    a[href]:after { content: " (" attr(href) ") "; }
    a[href] {
      font-weight:bold;
      text-decoration:underline;
      color:#06c;
      border:none;
    }
    /* Don't show link destinations for JavaScript or internal links */ 
    a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }
    
    /* Show abbr title value in brackets after the text */
    abbr[title]:after { content: " (" attr(title) ")"; }

    figure { 
      margin-bottom:1em; 
      overflow:hidden;
    }

    figure img { border:1px solid #000; }
  }